# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/
*.so

# IDE
.idea/
.vscode/

# Docs build artifacts
docs/_build/

# Environment
.env
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# JAX
*.npy
